extends layout

block content
  h1 My Favorite..
  form(action = "/results" method = "post")
    label Books or Movies?
    br
    label(for = "books") Books
    input(type = "checkbox" name = "books" id = "books" value = "books")
    br
    label(for = "movies") Movies
    input(type = "checkbox" name = "movies" id = "movies" value = "movies")
    br
    br
    label My Favorite Book Genre:
    br
    input(type = "radio" name = "bookGenre" id = "mystery" value = "mystery")
    label(for = "mystery") Mystery

    input(type = "radio" name = "bookGenre" id = "action" value = "action" checked)
    label(for = "action") Action

    input(type = "radio" name = "bookGenre" id = "fiction" value = "fiction")
    label(for = "fiction") Fiction

    input(type = "radio" name = "bookGenre" id = "tales" value = "tales")
    label(for = "tales") Tales

    input(type = "radio" name = "bookGenre" id = "other" value = "other")
    label(for = "other") Other
    br
    br
    label(form = "description") I chose this because...Some book recommendations I have are..
    br
    textarea(id = "description" name = "description" cols=40 rows=5)
    br
    br
    label Pick a Hobby (out of these options):
    br
    select(form = "words" name = "hobbyChoice" id = "hobbyChoice")
      option(value = "1") Arts & Crafts
      option(value = "2") Sports
      option(value = "3") Reading/Writing
      option(value = "4") Cooking
      option(value = "5") Hiking
    br
    br
    label(for = "faveColor") Favorite Color:
    br
    input(type = "color" name = "faveColor" id = "faveColor")
    br
    br
    button(type = "submit") Submit This